body{
  margin: 0;
  padding: 0;
  background-color:rgb(245, 236, 236);
}
ul, h1{
  margin: 0;
}

li, a{
  list-style-type: none;
  color: black;
  text-decoration: none;
  padding: 5px;
  transition: transform 0.5s ease;

}
li:hover{
  background-color: rgb(144, 194, 144);
  border-radius: 8px;
  transform: translateY(-4px);

}
.head-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  background-color: rgb(198, 236, 198);
  
}
.head-items{
  display: flex;
  padding: 8px 100px;
  gap: 35px;
  
}
.head-categories{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  
}
.head-img{
  width: 100%;
  border: 2px double rgb(252, 255, 252);
  border-radius: 10px;
  transition: transform 0.5s ease;
  
}
.head-img:hover{
  transform: scale(1.1);
  filter: brightness(0.6);
}
.img-paragraph{
  position: absolute;
  bottom: 0;
  opacity: 0;
  transition: transform 0.5s ease-in-out;
  color: rgb(202, 85, 85);
}
.img-div{
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  transition: transform 1s ease;
  
}
.img-div:hover .img-paragraph{
  opacity: 1;
  border-radius: 15px;
  transform: scale(1.1);
}
.flex-container{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  grid-gap: 25px;
  justify-content: center;
  padding: 10px;
  margin-top: 0px;

}
.featured-categories{
 
}
.img-container{
 
}
.intro{
 
}
.img-container img{
 width: 80%;
  
}



